<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.urlisit.siteswrapper.cloud.server.GreetingServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/siteswrapper/greet</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>rpcServlet</servlet-name>
    <servlet-class>com.urlisit.siteswrapper.cloud.server.RpcImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rpcServlet</servlet-name>
    <url-pattern>/siteswrapper/rpc</url-pattern>
  </servlet-mapping>

  <!-- Combined with the "mail" inbound services difinition in appengine-web.xml enables the server to receive email -->
  <servlet>
    <servlet-name>emailServlet</servlet-name>
    <servlet-class>com.urlisit.siteswrapper.cloud.server.Email</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>emailServlet</servlet-name>
    <url-pattern>/_ah/mail/*</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>mail</web-resource-name>
      <url-pattern>/_ah/mail/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
 
  <servlet>
    <servlet-name>restServlet</servlet-name>
    <servlet-class>com.urlisit.siteswrapper.cloud.server.RESTful</servlet-class>
    <init-param>
        <param-name>GoogleAnalyticsWebPropertyID</param-name>
        <param-value>UA-53781224-1</param-value>
    </init-param>
    <init-param>
        <param-name>GoogleWebMasterToolsSiteVerificationCode</param-name>
        <param-value>google39a5a5eb736da7fd</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>restServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value>com.urlisit.siteswrapper.cloud.endpoints.DeviceInfoEndpoint,com.urlisit.siteswrapper.cloud.endpoints.ItemEndpoint,com.urlisit.siteswrapper.cloud.endpoints.LandingEndpoint,com.urlisit.siteswrapper.cloud.endpoints.MessageEndpoint,com.urlisit.siteswrapper.cloud.endpoints.PageEndpoint,com.urlisit.siteswrapper.cloud.endpoints.SiteEndpoint,com.urlisit.siteswrapper.cloud.endpoints.StyleEndpoint</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>